#textdomain wesnoth-The_Barbaric_North

[scenario]
	id = 05_First_Rate_Banditry
	name = _ "First-Rate Banditry"
	map_data = "{DEPENDENCY maps/05_First_Rate_Banditry.map}"
	next_scenario = 06_Revelation
	
	{TURNS 24 24 24}
	{DEFAULT_SCHEDULE}
	{TBN_UTILS}
	
	[story]
		[part]
			story = _ "We tirelessly moved towards Dorset. It seemed as if we could not stop or an orc would find us and kill us. So we kept running. <span size='smaller'>So we kept running. <span size='smaller'>So we kept running. <span size='smaller'>So we kept...</span></span></span>"
		[/part]
		[part]
			background = "portraits/humans/mage.png"
			title = _ "A Younger Duncan"
			story = _ "<i> *running* *pant* *pant*</i>"
		[/part]
		[part]
			background = "portraits/humans/peasant.png"
			title = _ "Duncan's Father"
			story = _ "<i>You vile son of a swine! Get away from here! You are no longer my son! Stay here and I will kill this dirt with my own hands! How could you have learned nemocracy?!</i>"
		[/part]
		[part]
			story = _ "<i>They all thought I learned nemocracy. I did not! That is for cowards. Weaklings. It their means to ensure survival. This is different. The shadows empower us. They fill you all at night but you do not know it. Dreams are the message of the shadows. But no one understands! And they are trying to kill me! *running*</i>"
		[/part]
		[part]
			story = _ " *shiver*"
		[/part]
		[part]
			story = _ "We made it to the vicinity of Dorset in the dark. It started to snow heavily. To avoid getting frostbite, we broke camp and rested for the night. But our scouts woke us early the next morning. Too early. There must be danger afoot."
		[/part]
	[/story]
	
	[side]
		side = 1
		controller = human
		persistent = yes
		team_name = Player
		user_team_name = _ "Player"
		recruit = {OUTLAWS_ALL}
		{GOLD 200 150 100}
		
		canrecruit = yes
		type = Rogue Mage
		id = Duncan
		name = _ "Duncan"
		[modifications]
			{TRAIT_FEARLESS}
			{TRAIT_RESILIENT}
		[/modifications]
	[/side]
	
	[side]
		side = 2
		team_name = Enemies
		user_team_name = _ "Enemies"
		recruit = {HUMANS},{VETERAN_HUMANS}
		{GOLD 200 250 300}
		{INCOME 28 38 48}
		{AI_DEFAULT}
		
		canrecruit = yes
		type = General
		id = Wesnothian
		random_traits = yes
	[/side]
	
	{STARTING_VILLAGES 2 6}
	{HUMANS_MED_GOLD 2}
	{LESS_FENCERS 2}
	
	[event]
		name = prestart
		[objectives]
			[objective]
				condition = win
				description = _ "Hold off the Wesnothians"
			[/objective]
			{DEATHS}
			
			[gold_carryover]
				bonus = no
				carryover_percentage = 40
			[/gold_carryover]
		[/objectives]
		
		#	Starting units.
		[scatter_units]
			[filter_location]
				x,y = 31-38,1-7
			[/filter_location]
			unit_types = Bowman,Javelineer,Longbowman,Mage,Pikeman,Red Mage,Spearman,Spearman,Swordsman,Swordsman
			units = 20
			[wml]
				side = 2
				random_traits = yes
			[/wml]
		[/scatter_units]
	[/event]
	
	[event]
		name = start
		
	[/event]
	
	{TBN_DEATHS}
	{TIME_OVER}
	
	#	Frostbite event. For the full implementation, see utils/lua-utils.lua.
	[event]
		name = turn refresh
		first_time_only = no
		
		[frostbite_event]
			fire_event = yes
		[/frostbite_event]
	[/event]
	
	[event]
		name = attack
		[filter]
			id = Addrevan,Patrol
		[/filter]
		[filter_second]
			id = Addrevan,Patrol
		[/filter_second]
		
		[message]
			speaker = Patrol
			message = _ "So I finally fight hand-to-hand with the notorious Addrevan. I shall kill you!"
		[/message]
	[/event]
	
	[event]
		name = turn 10
		
		[narrate]
			message = _ "As it was turning into night, a group of men appeared in the south."
		[/narrate]
		
		[move_unit_fake]
			side = 3
			type = Highwayman
			x = 12,12,12,13,14,14,15
			y = 25,24,23,23,22,21,21
		[/move_unit_fake]
		
		[unit]
			side = 3
			canrecruit = yes
			type = Highwayman
			id = Caercyn
			name = _ "Caercyn"
			x,y = 15,21
			random_traits = yes
		[/unit]
		
		[redraw]
		[/redraw]
		
		#	Again, store Caercyn in case he if offset by another unit
		[store_unit]
			[filter]
				id = Caercyn
			[/filter]
			variable = caercyn_store
			kill = no
		[/store_unit]
		
		[terrain]
			#	SNOWY CASTLES FTW!
			terrain = Cea
			x,y = $caercyn_store.x,$caercyn_store.y
			radius = 1
		[/terrain]
		[terrain]
			terrain = Kea
			x,y = $caercyn_store.x,$caercyn_store.y
		[/terrain]
		
		[redraw]
		[/redraw]
		
		{CLEAR_VARIABLE caercyn_store}
		
		{UNIT 3 (Shadow Mage) 14 20 (
			{IS_LOYAL}
			animate = yes
		)}
		
		[unit]
			side = 3
#ifdef EASY
			type = Assassin
#else
			type = Rogue
#endif
			id = Delrevan
			name = _ "Delrevan"
			x,y = 16,20
			{IS_LOYAL}
			random_traits = yes
			animate = yes
		[/unit]
		
		[store_unit]
			[filter]
				id = Addrevan
			[/filter]
			variable = addrevan_store
			kill = no
		[/store_unit]
		
		[move_unit]
			id = Delrevan
			to_x,to_y = $addrevan_store.x,$addrevan_store.y
		[/move_unit]
		
		{CLEAR_VARIABLE addrevan_store}
		
		[message]
			speaker = Delrevan
			message = _ "Pst! Addrevan!"
		[/message]
		[message]
			speaker = Addrevan
			message = _ "Delrevan, my cousin! What brings you to Dorset?"
		[/message]
		[message]
			speaker = Delrevan
			message = _ "We have been tracking this bastard of a patrol for days now. They have fled from our recent attacks, so they probably are heading for a nearby lord for reinforcements. Looks like they found you first. And who is this here?"
		[/message]
		[message]
			speaker = Duncan
			message = _ "Duncan, sir. Addrevan and I have been raiding orcish territories for gold and rood."
		[/message]
		[message]
			speaker = Delrevan
			message = _ "That must be the reason for the sudden outburst of orcish attacks. Anyways, we need to kill these bastards before they call for more reinforcements! Our men are few now, but out scouts are calling more of our men into the area."
		[/message]
		[message]
			speaker = Caercyn
			message = _ "Forwards, men! Show them what blood tastes like!"
		[/message]
		
		[store_unit]
			[filter]
				id = Patrol
			[/filter]
			variable = patrol_store
			kill = no
		[/store_unit]
		
		[if]
			[have_unit]
				id = Executioner
			[/have_unit]
			[then]
				[message]
					speaker = Executioner
					message = _ "Commander $patrol_store.name" + "! More bandits sighted southwest of here!"
				[/message]
				[message]
					speaker = Patrol
					message = _ "Filthy bandits! Call in the reserves!"
				[/message]
			[/then]
			[else]
				[role]
					role = Soldier
					side = 3
					[not]
						id = Patrol
					[/not]
				[/role]
				
				[redraw]
				[/redraw]
				
				[if]
					[have_unit]
						role = Soldier
					[/have_unit]
					[then]
						[message]
							role = Soldier
							message = _ "Commander patrol_store.name" + "! More bandits sighted southwest of here!"
						[/message]
						[message]
							speaker = Patrol
							message = _ "Filthy bandits! Call in the reserves!"
						[/message]
					[/then]
					[else]
						[message]
							speaker = Patrol
							message = _ "I see more filthy bandits southwest of here! Call in the reserves!"
						[/message]
					[/else]
				[/if]
			[/else]
		[/if]
		
		[gold]
			side = 2
#ifdef EASY
			amount = 200
#endif
#ifdef NORMAL
			amount = 250
#endif
#ifdef HARD
			amount = 300
#endif
		[/gold]
		
		[modify_side]
			side = 3
			{GOLD 350 300 250}
		[/modify_side]
		
		[set_recruit]
			side = 3
			recruit = {OUTLAWS_ALL}
		[/set_recruit]
		
		[objectives]
			[objective]
				condition = win
				description = "Defeat all enemy leaders"
			[/objective]
			{DEATHS}
			{TURNS_RUN_OUT}
			
			[gold_carryover]
				bonus = yes
				carryover_percentage = 40
			[/gold_carryover]
			[note]
				description = _ "Death of allied units (and leader) is not a loss condition, but they are worth saving as they will join your side later. And you also get an early finish bonus if you save the leader."
			[/note]
		[/objectives]
	[/event]
	
	[event]
		name = turn 14,turn 17,turn 21,turn 26
		
		[gold]
			side = 3
#ifdef EASY
			amount = 150
#endif
#ifdef NORMAL
			amount = 100
#endif
#ifdef HARD
			amount = 50
#endif
		[/gold]
		
		[narrate]
			message = _ "The allied bandits have just received minor reinforcements!"
			[show_if]
				[have_unit]
					id = Caercyn
				[/have_unit]
			[/show_if]
		[/narrate]
	[/event]
	
	[event]
		name = die
		[filter]
			side = 2,3
			canrecruit = yes
			[and]
				id = Delrevan
			[/and]
		[/filter]
		
		{DIE_MESSAGES}
	[/event]
	
	[event]
		name = enemies defeated
		
		[if]
			[have_unit]
				id = Caercyn
			[/have_unit]
			[then]
				{VARIABLE caercyn_alive yes}
				
				[move_unit_fake]
					side = 3
					type = Outlaw
					x = 1,2,3,4,5,6,7,8,9,10
					y = 19,18,18,17,17,16,16,15,16,16
				[/move_unit_fake]
				
				{UNIT 3 Outlaw 10 16 (id = Scout)}
				
				[message]
					speaker = Scout
					message = _ "Sir, we are being hard pressed in the near Dorset by the Wesnothians! We are requesting your assistance at once!"
				[/message]
				[message]
					speaker = Caercyn
					message = _ "Why don't you lads go while we clean up here?"
				[/message]
				[message]
					speaker = Duncan
					message = _ "Very well. Towards Dorset, men!"
				[/message]
				
				[set_recruit]
					side = 1
					recruit = {OUTLAWS_ALL}
				[/set_recruit]
				
				[endlevel]
					result = victory
					carryover_add = yes
					carryover_percentage = 40
				[/endlevel]
			[/then]
			[else]
				{VARIABLE caercyn_alive no}
				
				[message]
					speaker = Duncan
					message = _ "Looks like we are done here. Let us move towards Dorset! Many thanks for your assists, brothers."
				[/message]
				
				[if]
					[have_unit]
						side = 3
						id = Delrevan
					[/have_unit]
					[then]
						[role]
							role = Survivor
							side = 3
							id = Delrevan
						[/role]
					[/then]
					[else]
						[if]
							[have_unit]
								side = 3
							[/have_unit]
							[then]
								[role]
									role = Survivor
									side = 3
								[/role]
							[/then]
						[/if]
					[/else]
				[/if]
				
				[message]
					role = Survivor
					message = _ "Peace with you, may your path ahead be bright."
				[/message]
				[message]
					speaker = Addrevan
					message = _ "Rest in peace, cousin."
					[show_if]
						[have_unit]
							[not]
								id = Delrevan
							[/not]
						[/have_unit]
					[/show_if]
				[/message]
				
				[set_recruit]
					side = 1
					recruit = {OUTLAWS_ALL}
				[/set_recruit]
				
				[endlevel]
					result = victory
					bonus = no
					carryover_add = yes
					carryover_percentage = 40
				[/endlevel]
			[/else]
		[/if]
	[/event]
[/scenario]

